/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #D0E2B7;
}

section {
    width: 95%;
    height: 600px;
	margin: 5px;
    background: black;
    margin-left: 20px;
    border-radius: 10px;
}

h1 {
	margin-left: 20px;
	color: #2960B7;
	font-weight: bold;
	font-size: 40px;
}

#map-canvas {
    width: 80%;
    height: 600px;
    float: left;
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#toll-bar { 
	padding-top: -10px;
    margin-left: 80%;
    width: relative;
    height: 600px;
    border: 1px solid black;
    padding-left: 5px;
    background-color: #e2eade;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: scroll;
}

#toll-bar ul {
	margin-left: -25px;
	font-weight: bold;
	color: black;
}

#toll-bar li {
	list-style-type: none;
	margin-left: 15px;
	margin-top: -10px;
	font-weight: bold;
	color: #4688ea;
}


#directions-panel {
	height: relative;
	width: 74%;
	margin-top: 5px;
	margin-left: 20px;
	border: 1px solid black;
	background-color: #FAF2C9;
	border-radius: 4px;
	padding-left: 15px;
	padding-right: 15px;

	/*background: red;*/
}

#control {
	color: #F75448;
	font-size: 20px;
	font-family: times;
	margin-left: 20px;
	margin-bottom: 10px;
}

/*#control strong {
	margin-top: 10px;
}*/

#control input {
	border: 1px solid black;
	height: 18px;
	margin-right: 10px;
	margin-bottom: 5px;
	padding-left: 5px;
	border-radius: 4px;
}

#toll-total {
	font-size: 30px;
	color: red;
	padding-top: -5px;
}

.adp-summary {
	font-weight: bold;
}

button {
	background: #2960B7;
	color: white;
	border-radius: 5px;
}

button:hover {
	background: #073f93;
	color: #B2D0FE;
}

button:active,
button:focus {
	background: #3271D6;

}

button:before {
/*	border-right-color: white;*/
}

button:focus:before,
button:active:before {
/*	border-right-color: #c42f2f;*/
}
