<!DOCTYPE html>
<html>
<head>
  <title>TollsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBBGXjcGmyyi75O9Opbijss2B2x2Q98kk"></script>
  <script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js"></script>
</head>
<body>
	<h1>TollCalc</h1>
	<div id='control'>
		<strong>Origin: </strong>
		<input id="start" type="text" value="">	
		<!-- <select id="start">
		  <option value="new york, ny">New York</option>
		  <option value="wilmington, de">Delaware</option>
		</select> -->
		<strong>Destination: </strong>
		<input id="end" type="text" value="">
		<!-- <select id="end">
		  <option value="new york, ny">New York</option>
		  <option value="wilmington, de">Delaware</option>
		</select> -->
		<button id="calc">Calculate</button>
		<button id="show-tolls">Show Tolls</button> 
	</div>
	<section>
		<div id='map-canvas'></div>
		<div id='toll-bar'></div>
	</section>
		<div id='directions-panel'></div>
</body>
</html>
